<hibernate-configuration>
<session-factory>

<!-- Database Connection Settings -->

<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/julyjdbc</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">root</property>

<!-- Hibernate Settings -->

<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.format_sql">true</property>

<!-- Mapped Entity -->
<mapping class="com.kodnest.FourthHibernate.student"/>
<!--this class must map with the dbso we are mapping and the attrributes must be order-->
</session-factory>
</hibernate-configuration>